<footer class="text-center"><br>
<h2>Nos siga também</h2><br>
  <ul class="social-network social-circle mt-2">
  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></i></a></li>
  <li><a href="#" class="icoInstagram" title="Instagram"><i class="fab fa-instagram"></i></a></li>
  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
  <li><a href="#" class="icoYoutube" title="Youtube"><i class="fab fa-youtube"></i></a></li>
  </ul>				

	<div class="col-md-12 copy mt-4">
		<p class="text-center">&copy; Copyright <%= Date.current.year %> - Chinchilas Food.  All rights reserved.</p>
	</div>
</footer>