<br><br><br><br>
          
<div class="container">
  <div class="d-flex justify-content-center">
      <div style="padding-bottom: 40px;">
        <div class="row">
          <div class="col-lg-8 col-md-8 food-photo-show">
          <h1 class="food-name-show text-center mb-3"> <strong><%= @product.title %></strong> </h1>
            <%= cl_image_tag @product.photo.key, height: 600, width: 700, gravity: :auto, crop: :fill, class: "animal-photo" %>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="container">
              <div class="card">
                <div class="card-body">
                  

                  <div class="clear-box" style="padding: 20px; margin-bottom: 20px;">
                    <p class="text-center"><strong>DADOS GERAIS</strong></p>
                    
                    <p class='text-muted p-show'><%= @product.description %></p>
                    
                    <%= link_to 'Voltar!', products_path, class: "btn btn-success btn-lg btn-block" %>

                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    
  </div>
</div>

